.container {
    display: grid;
    grid-template-columns: repeat (8, 1fr);
    font-family: 'open sans', sans-serif;
    margin-left: -10px;
    width: 100vw;
}

#header {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 50px;   
}


#header-img {
    grid-column: 1 / 2;
    justify-self: start;
    width: 35px;
    height: auto;
    margin: 10px 0 0 10px;
}

#nav-bar {
    grid-column: 3 / -1;
    justify-self: end;
}

li {
    display: inline-flex;
    padding: 0 30px 0 0px;
    font-size: 0.9em;
}

.nav-link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #4C79BB;
}

#banner-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100vw;
    height: 100vh;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(img/banner.jpg);
    background-color: salmon;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 2;
    margin: 0;
}

#title {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    font-family: 'Lily Script One', cursive;
    font-size: 5em;
    color: white;
    margin: 0;
}

#sub-title {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: start;
    color: white;
    font-size: 2em; 
    font-weight: lighter;
    margin: 0;   
}

#form {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
    margin: 0;
    text-align: center;
}

#sub-title, #form {
    grid-row: 2 / 3;
}

#email {
    width: 20em;
    height: 30px;
    margin: 0 0 20px 0;
    font-size: 1em;
    text-align: center;
    color: gray;
}

#submit, .select {
    width: 100px;
    height: 30px;
    background-color: #4C79BB;
    color: white;
    font-size: 14px;
    border: transparent;
}

#products-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 50vh;
    text-align: center;
}

.section-title {
    font-family: 'Lily Script One', cursive;
    font-size: 2em;
    margin: 40px;
}

.thumbnail, #video {
    width: 325px;
    height: 226px;

}

.prod-sub-container {
    width: 325px;
    height: auto;
}

#vegetables {
     padding: 0 70px 0 70px;
}

.wwa-container {
    display: flex;
    justify-content: center;
}

#paragraph-container {
    width: 733px;
    height: 319px;
    margin: -20px 0 0 50px;
    align-self: start;
    text-align: justify;
    padding: 0;
}

#connect {
    width: 100vw;
    height: auto;
    background-color: #4C79BB ;
    text-align: center;
}

h4 {
    font-weight: bolder;
    font-size: 1.5em;
    color: white;
    margin: 20px 0 10px 0;
}

h5 {
    font-size: 1em;
    color: white;
    margin: 0; 
    letter-spacing: 2px;
    font-weight: 500;
}

.icon {
    width: 60px;
    height: 58px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

      .container {
          margin: 0 -50px 0 90px;
      }  

      #banner-container {
        width: 100vw;
        height: 50vh;
        margin: 0 0 150px 0;   
      }

      #product-container {
            display: block;
            align-content: center;
            margin-bottom: 0px;

      }


  }
